body {
  padding-top: 5rem;
  color: rgb(255, 0, 0, 0.6);
  font-family:serif;
}

h1 {
  font-size: 3em;
  color: rgb(255, 0, 0, 0.8);
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
